body {
      background-image: url('https://img.freepik.com/free-vector/gradient-rural-landscape-background_23-2150616716.jpg?semt=ais_hybrid&w=740'); 
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat;
    }
